.days {
  &-head {
    display: flex;
    padding: 2rem;
    align-items: center;
    background: #F2F3F9;

    @media (max-width: 940px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &-controls {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      @media (max-width: 940px) {
        justify-content: flex-start;
      }
      @media (max-width: 460px) {
        flex-direction: column;
      }

      & > * {
        width: calc(33% - 1rem);

        @media (max-width: 460px) {
          width: 100%
        }

        &:not(:last-child) {
          margin-right: 1rem;
          @media (max-width: 460px) {
            margin-right: 0;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  &-title {
    width: 41%;
    padding-right: 1rem;

    &.title {
      font-size: 2.2rem;
    }

    @media (max-width: 940px) {
      margin-bottom: 2rem;
      width: 100%;
    }
  }

  &-container {
    position: relative;
  }

  &-table {
    width: 130rem;
    background: rgba(242, 243, 249, 0.26);

    &-user {
      color: #5C6DF9;
      font-family: Montserrat;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;

    }

    &-value {
      color: #333;
      text-align: center;
      font-family: Montserrat;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;

      &.active-time {
        font-weight: 300;
        font-size: 1.8rem;
      }

      &.changed-time {
        color: #5C6DF9;
        font-weight: 400;
      }

      &.error-time {
        color: red;
        font-weight: 500;
      }
    }

    &-row {
      display: flex;
      border-bottom: 1px solid #E2E3EE;
      overflow: hidden;
    }

    &-column {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.4rem;
      padding: 0.5rem;
      width: 12.5%;
      color: #333;
      text-align: center;
      font-family: Montserrat;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;

      &.days-sub-sum-column {
        background-color: #7BB500;
      }


      &:nth-child(1) {
      }

      &:nth-child(2) {

      }

      &:nth-child(8), &:nth-child(7) {
        background: rgba(#889EFC, 0.1);
      }

      &:not(:last-child) {
        border-right: 1px solid #E2E3EE;
      }
    }

    &-wrapper {
      overflow: auto;
    }

    &-week-result {
      text-align: center;
      font-family: Montserrat;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      color: #fff;
      &.deficit {
        color: #333;
        font-weight: 600;
      }
    }
  }

  &-controls {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110%;
    height: 5rem;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    pointer-events: none;
    @media (max-width: 1430px) {
      width: 105%;
    }
    @media (max-width: 1365px) {
      width: 104%;
    }
    @media (max-width: 1220px) {
      width: 100%;
    }
    &__next {
      margin-left: auto;
      transform: rotate(180deg);
    }

    a {
      display: flex;
      width: 5rem;
      height: 5rem;
      pointer-events: auto;
      @media (max-width: 1365px) {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}