.days {
  &-head {
    display: flex;
    padding: 2rem;
    align-items: center;
    background: #F2F3F9;

    &-controls {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      & > * {
        width: calc(33% - 1rem);

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }

  &-title {
    width: 40%;
    padding-right: 1rem;
  }

  &-table {
    background: rgba(242, 243, 249, 0.26);

    &-user {
      color: #5C6DF9;
      font-family: Montserrat;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }

    &-value {
      color: #333;
      text-align: center;
      font-family: Montserrat;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
    }

    &-row {
      display: flex;
      border-bottom: 1px solid #E2E3EE;
    }

    &-column {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.4rem;
      width: 12.5%;
      color: #333;
      text-align: center;
      font-family: Montserrat;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;

      &:nth-child(8), &:nth-child(7) {
        background: rgba(#889EFC, 0.1);
      }

      &:not(:last-child) {
        border-right: 1px solid #E2E3EE;
      }
    }
  }
}