.project {
  &-date {
    color: #686D86;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &-users {

    display: flex;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }


  }

  &-user {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__avatar {
      margin-right: 1rem;
      width: 4rem;
      height: 4rem;
      flex-grow: 0;
      flex-shrink: 0;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      color: #333;
      font-family: Montserrat;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }

    &__role {
      color: #686D86;
      font-family: Montserrat;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }

    &-text {
      @media (max-width: 780px) {
        display: none;
      }
    }

  }

  &-title {
    display: flex;
    align-items: center;
    padding-right: 2rem;
    color: #333;
    font-family: Montserrat;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media (max-width: 780px) {
      padding-right: 0;
    }
  }

  &-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    @media (max-width: 780px) {
      margin-left: 0;
      margin-top: 2rem;
    }
    @media (max-width: 520px) {
      flex-wrap: wrap;
    }

    & > * {
      min-height: 4rem;
      @media (max-width: 385px) {
        width: 100%;
      }
    }

    & > *:not(:last-child) {
      margin-right: 1rem;
      @media (max-width: 385px) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }

    &__time {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.2rem 2rem;
      border-radius: 2rem;
      border: 1px solid #E2E3EE;
      background: rgba(255, 255, 255, 0.36);

      color: #333;
      text-align: center;
      font-family: Montserrat;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      @media (max-width: 520px) {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }

  &-section {

    &-text {
      width: 100%;
      max-width: 84rem;
      padding-top: 1.5rem;
    }

    &-row {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @media (max-width: 780px) {
        flex-direction: column;
      }
    }

    &-head {
      margin-bottom: 5px;
    }

    &-wrapper {
      padding: 2rem;
      background: #F2F3F9;
      @media (max-width: 385px) {
        padding: 2rem 1rem;
      }
    }

    &-content {
      margin-bottom: 2rem;

      &-head {
        padding-bottom: 1.5rem;
        border-bottom: 2px solid #E2E3EE;

        &__row {
          display: flex;
          align-items: center;
          justify-content: space-between;

        }

        &__bottom {
          display: flex;
          align-items: center;
          margin-top: 1.5rem;
        }
      }
    }

    &-comments {
      &-form {
        margin-bottom: 5px;
        padding: 2rem;
        @media (max-width: 450px) {
          padding: 1rem;
        }

        .button {
          margin-top: 1rem;
        }
      }
    }

  }
}

.comment {
  padding: 2rem;
  margin-bottom: 5px;
  background: #F2F3F9;

  @media (max-width: 450px) {
    padding: 1rem;
  }

  &.service-comment {
    background: #e7e8f4;

    .comment-head {
      @media (max-width: 880px) {
        flex-wrap: wrap;
      }
    }

    .text {
      @media (max-width: 880px) {
        width: 100%;
      }
    }
  }

  &-date {
    margin-right: auto;
    padding-right: 1rem;
    color: #686D86;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &-head {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      padding-bottom: 1.2rem;
    }

  }

  &-author {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    color: #333;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;

    &__avatar {
      margin-right: 5px;
      width: 5rem;
      height: 5rem;
      overflow: hidden;
      flex-grow: 0;
      flex-shrink: 0;
      border-radius: 50%;
    }
  }

  &-content {
    padding-top: 1.2rem;
    border-top: 1px solid #E2E3EE;;
  }

  &-remove {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 5px;
    }

    width: 2rem;
    height: 2rem;
    padding: 4px;
    border-radius: 50%;
    background-color: #C9085F;
    transition: 0.5s ease;
    opacity: 0;

    &:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }
  }

  &-change {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 4px;
    border-radius: 50%;
    background-color: #5C6DF9;
    transition: 0.5s ease;
    opacity: 0;

    &:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }

    svg {
      path {
        fill: #fff;
      }
    }
  }

  &-like {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 3px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #5C6DF9;
    transition: 0.5s ease;
    margin: 0 4px;
    &-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      gap: 2px;
      opacity: 0;
      color: #686d86;
      text-align: center;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      &-list {
        position: absolute;
        z-index: 1;
        bottom: 100%;
        right: 0;
        background-color: rgba(#fff, 0);
        pointer-events: none;
        max-height: 10rem;
        overflow: auto;
        width: 15rem;
        &-item{
          align-items: center;
          display: flex;
          padding: 0.5rem;
          gap: 1rem;
          opacity: 0;
          background-color: #fff;
          .avatar{
            border-radius: 50%;
            overflow: hidden;
            width: 3rem;
            height: 3rem;
            flex-grow: 0;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      &:hover {
        .comment-like-wrapper-list {
          pointer-events: auto;
          &-item{
            opacity: 1;
          }
        }
      }
    }

    svg {
      path {
        fill: #5C6DF9;
      }
    }

    &:hover {
      transform: scale(1.1);
    }

    &.active {
      background-color: #5C6DF9;

      svg {
        path {
          fill: #fff;
        }
      }
    }
  }

  &-copy-link {
    transform: scale(0.5);
    opacity: 0;

    &:hover {
      opacity: 0.8;
    }
  }

  &:hover {
    .comment-change, .comment-remove, .comment-copy-link, .comment-like-wrapper {
      opacity: 1;
    }
  }

  &-files {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.2rem;
    margin-top: 1.2rem;
    border-top: 1px solid #E2E3EE;
  }

  &-file {
    display: flex;
    align-items: center;
    padding: 0.5rem;

    a {
      color: #686D86;
      font-family: Montserrat;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      text-decoration: underline;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
    }
  }
}
