@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat-Regular.woff) format("woff"), url(../fonts/Montserrat-Regular.ttf) format("truetype"), url(../fonts/Montserrat-Regular.svg#Montserrat-Regular) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat-Bold.woff) format("woff"), url(../fonts/Montserrat-Bold.ttf) format("truetype"), url(../fonts/Montserrat-Bold.svg#Montserrat-Bold) format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat-SemiBold.woff) format("woff"), url(../fonts/Montserrat-SemiBold.ttf) format("truetype"), url(../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold) format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-ExtraBold.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat-ExtraBold.woff) format("woff"), url(../fonts/Montserrat-ExtraBold.ttf) format("truetype"), url(../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold) format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat-Medium.woff) format("woff"), url(../fonts/Montserrat-Medium.ttf) format("truetype"), url(../fonts/Montserrat-Medium.svg#Montserrat-Medium) format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-SemiBold.eot);
    src: url(../fonts/PlayfairDisplay-SemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/PlayfairDisplay-SemiBold.woff2) format("woff2"), url(../fonts/PlayfairDisplay-SemiBold.woff) format("woff"), url(../fonts/PlayfairDisplay-SemiBold.ttf) format("truetype"), url(../fonts/PlayfairDisplay-SemiBold.svg#PlayfairDisplay-SemiBold) format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}


html {
    font-size: 10px;
}

.preload-wm {
    position: fixed;
    background: #fff;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 222;
}

.preload-wm svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 70%;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: .4s;
}

img, svg {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.preload-content {
    max-width: 80vw;
    max-height: 80vw;
    width: 56vh;
    height: 56vh;
    background: #282A4E;
    border: 1px solid rgba(0, 0, 0, .8);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-animation: fade 3s;
    animation: fade 3s;
    padding-bottom: 2rem;
}

.container {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header-logo {

    width: 12.9rem;
    height: 6rem;
    display: block;
    margin: 0 auto;
}

.header-logo img {
    transition: 0.4s;
}

.header-logo:hover img {
    transform: scale(0.9);
}

.header {
    padding: 1rem 0;
}

section {
    padding: 1rem 0;
}

.section-login-content {
    margin: 0 auto;
    width: 100%;
    max-width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    text-align: center;
    font-weight: bold;
}

.form {
    width: 100%;
}

.form-group {
    display: block;
    width: 100%;
    height: 5rem;
}

.form-group:not(:last-child) {
    margin-bottom: 2rem;
}

.form-input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

input {
    padding: 1rem 2rem;
    font-family: Montserrat;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    background: #FBFCFF;
    border: 1px solid #E2E6F8;
    box-sizing: border-box;
    border-radius: 5rem;
    color: #202554;
}

body {
    font-family: Montserrat;
    font-size: 1.6rem;
}

button {
    cursor: pointer;
}

.form-button {
    min-width: 15rem;
    padding: 1rem;
    background: #889EFC;
    border-radius: 3px;
    border: none;
    font-family: Montserrat;
    font-size: 1.6rem;
    color: #FFFFFF;
    transition: 0.5s ease;
    -webkit-box-shadow: 3px 3px 20px 0px rgba(136, 158, 252, 1);
    -moz-box-shadow: 3px 3px 20px 0px rgba(136, 158, 252, 1);
    box-shadow: 3px 3px 20px 0px rgba(136, 158, 252, 1);
}

.form-button:hover {
    -webkit-box-shadow: 3px 3px 19px -7px rgba(136, 158, 252, 1);
    -moz-box-shadow: 3px 3px 19px -7px rgba(136, 158, 252, 1);
    box-shadow: 3px 3px 19px -7px rgba(136, 158, 252, 1);
}

.section-login {

}

.form-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.not-active {
    pointer-events: none;
    opacity: 0.6;
    transition: 0.3s ease;
}

.preloader img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.preloader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    background-color: rgba(0, 122, 255, .1);
    opacity: 0;
    transition: 0.1s ease;
    pointer-events: none;
    z-index: 1;
}

.preloader.active {
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 20;
}

input.error {
    border-color: red;
}


.header-inner-page .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-inner-page {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DADFF9;
    background: #FBFCFF;
    z-index: 1;
}

.content-inner-page {

    padding-top: 10rem;
}

.title-left {
    text-align: left;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 6rem;
    padding: 1.5rem 0;
    background-color: rgba(242, 243, 249, .26);
    border-bottom: 2px solid #e2e3ee;
    color: #333;
    transition: 0.5s ease;
    border-radius: 5px;
}

.project-item:hover {
    background-color: rgba(242, 243, 249, .7);
}

.pagination-wrapper > * {
    margin-top: 2rem;
}

.circle-button {
    position: relative;
    display: -webkit-box;
    -webkit-box-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #3A3F6F;
    width: 5rem;
    height: 5rem;
    border: 1px solid #5F638D;
    font-size: 2.1rem;
    color: #1B215C;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.circle-button:hover {
    transform: scale(0.9) rotate(90deg);
}

.pagination-wrapper {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-item-title {
    display: block;
    width: 50%;
    padding: 0 1rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.project-item-performers {
    width: 25%;
}

.project-item-performer:not(:last-child) {
    margin-bottom: 1rem;
}
.project-item-performer {
    display: block;
    padding: 0 1rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.project-item-date {
    display: block;
    width: 25%;
    padding: 0 0.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: right;
}

.section-projects {
    padding: 1rem 0;
}

.projects-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    background: #F2F3F9;
    color: #202554;
}

.projects-head__item {
    display: block;
    width: 50%;
    padding: 0 1rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.projects-head__item:nth-child(2) {
    width: 25%;
}

.projects-head__item:nth-child(3) {
    width: 25%;
    text-align: right;
}

.projects-container {

}

.projects-head__input::placeholder {
    font-size: 1.8rem;
    font-weight: 500;
    color: #202554;
}

.projects-head__input {
    padding-left: 0;
    border-color: rgba(0, 0, 0, 0);
    font-size: 1.8rem;
    font-weight: 500;
    color: #202554;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.filter-project-form .selectric {
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
}

.filter-project-form .selectric .label {
    margin-left: 0;
    font-family: Montserrat;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.6rem;
    font-weight: 500;
    color: #202554;
}

.filter-project-form .selectric .button {
    background: rgba(0, 0, 0, 0);
}

.section-project-content {
    margin: 0 auto;
    overflow: auto;
}

.section-project-wrap {

    padding: 2.5rem;
    background: rgb(242 243 249 / 92%);
    border-radius: 1rem;
}

.section-project-parent {

}

.section-project-parent {
    margin-bottom: 2rem;
}

.section-project-head {
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #cecece;
}


.section-project-parent {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 1.6rem;
}

.section-project-parent .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
    transform: rotate(180deg);
    transition: .4s;
    -webkit-transition: .4s;
    -o-transition: .4s;
}

.section-project-children .section-project-parent .icon {
    transform: rotate(0);
}


.section-project-parent:hover .icon {
    transform: translateX(-1rem) rotate(180deg);
}


.section-project-children .section-project-parent:hover .icon {
    transform: translateX(1rem);
}


.empty-title {
    margin: 2rem auto;
}

.section-comments-content {
    padding: 2.5rem;
    background: rgb(242 243 249 / 92%);
    border-radius: 1rem;
}

.section-comments {
    padding-top: 0;
}

.section-project {
    padding-bottom: 2rem;
}

.comment:not(:last-child) {
    margin-bottom: 1rem;
}

.comment {
    padding: 2rem;
    background-color: #FBFCFF;
    border-radius: 1rem;
    transition: 0.5s ease;
    -webkit-box-shadow: 0px 0px 14px -7px rgb(0 0 0 / 29%);
    -moz-box-shadow: 0px 0px 14px -7px rgb(0 0 0 / 29%);
    box-shadow: 0px 0px 14px -7px rgb(0 0 0 / 29%);
}

main {
    transition: .4s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    will-change: auto;
}

.comment.service-comment {
    padding: 1rem 2rem;
    background-color: #FBFCFF;
    -webkit-box-shadow: 0px 0px 14px -7px rgb(0 0 0 / 0%);
    -moz-box-shadow: 0px 0px 14px -7px rgb(0 0 0 / 0%);
    box-shadow: 0px 0px 14px -7px rgb(0 0 0 / 0%);
}

.comment-head .comment-content {
    padding: 0 1rem;
}

.comment-head {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #cecece;
}

.comment-head:last-child {

    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.comment-content.text {
    font-size: 1.4rem;
    overflow: auto;
}

.comment-author {
    margin-right: 2rem;
    font-weight: 500;
    font-size: 1.4rem;
    color: #000;
}

.comment-date {
    font-weight: 400;
    font-size: 1.2rem;
    color: #cecece;
}

body.loading main {
    opacity: 0;
}


.section-project-date {
    text-decoration: underline;
    font-style: italic;
}

.invite {
    position: relative;
    display: inline-block;
    padding: 6px;
    background: #0099ff1a;
    border-radius: 1.2rem;
    font-size: 1.4rem;
    line-height: 1;
    box-shadow: 0 0 0 1px #00223d24 inset;
    cursor: pointer;
}

.invite:hover {
    background-color: #0077DD;
    opacity: 0.8;
    color: #fff;
}

.text a:hover {
    text-decoration: underline;
}

.text a {
    color: #7a87f8;
}

.text > * {
    margin-bottom: 1.5rem;

}

.text > *:last-child {
    margin-bottom: 0;
}

.text {
    color: #333;
    font-family: Montserrat;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.ql-editor li[data-list=bullet] > .ql-ui:before, .text ul li:before {
    content: '-';
}

.text li {
    position: relative;
    margin-bottom: 1rem;

}

.text h6 {
    font-size: 2rem;
}

.text h5 {
    font-size: 2.6rem;
}

.text h4 {
    font-size: 3rem;
}

.text h3 {
    font-size: 3.2rem;
}

.text h2 {
    font-size: 4rem;
}

.text h1 {
    font-size: 4.2rem;
}

.text h1, .text h2, .text h3, .text h4, .text h5 {
    margin-bottom: 2rem;
    font-family: Montserrat;
    font-weight: 700;
    color: #202554;
    line-height: 1.6;
}

.text em {
    font-style: italic;
}

.text strong {
    font-weight: 700;
}

.section-comments-form-buttons {
    justify-content: flex-start;
    margin-top: 2rem;
}

.ql-toolbar.ql-snow {
    background: rgb(242, 243, 249);
}

form .text {
    font-size: 1.4rem;
}

.ql-container.ql-snow {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #FBFCFF;
}

.ql-toolbar.ql-snow {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.section-comments-form {
    margin-bottom: 2rem;
    padding: 2.5rem;
    background: rgb(242 243 249 / 92%);
    border-radius: 1rem;
}

.comment-remove {
    opacity: 0;
}

.comment:hover .comment-remove {
    opacity: 1;
}

.remove-btn {
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1.4rem;
    height: 1.4rem;
    background-color: #c9085f;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    transition: .5s ease;
}

.text-editor-list .selectric {
    background-color: #FBFCFF;
}

.text-editor-list {
    display: none;
}

form.open-users-select .text-editor-list {
    display: block;
}

form.open-users-select .ql-container.ql-snow {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.change-btn svg path {
    fill: #fff;
}

.change-btn {
    padding: 2px;
    margin-left: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1.4rem;
    height: 1.4rem;
    background-color: #889EFC;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    transition: .5s ease;
}

.change-btn {
    opacity: 0;
}

.comment:hover .change-btn {
    opacity: 1;
}

.section-container:not(:last-child) {
    margin-bottom: 2rem;
}

.section-container {
    padding: 2.5rem;
    background: rgb(242 243 249 / 92%);
    border-radius: 1rem;
}

.section-project-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
}

.project-status__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49.5%;
    height: 100%;
    border-radius: 1rem;
    -webkit-box-shadow: inset 0px 0px 7px 0px rgba(136, 158, 252, 0.5);
    -moz-box-shadow: inset 0px 0px 7px 0px rgba(136, 158, 252, 0.5);
    box-shadow: inset 0px 0px 7px 0px rgba(136, 158, 252, 0.5);
}

.project-rabbit:active {
    cursor: grabbing;
}

.project-rabbit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    cursor: grab;
}

.project-status__text {
    margin: 1rem;
    font-weight: 500;
    font-size: 1.4rem;
    color: #000;
    pointer-events: none;
}

.button:not(b) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 15rem;
    padding: 1rem;
    background: #889EFC;
    border-radius: 3px;
    border: none;
    font-family: Montserrat;
    font-size: 1.6rem;
    color: #FFFFFF;
    transition: 0.5s ease;
    -webkit-box-shadow: 3px 3px 20px 0px rgba(136, 158, 252, 1);
    -moz-box-shadow: 3px 3px 20px 0px rgba(136, 158, 252, 1);
    box-shadow: 3px 3px 20px 0px rgba(136, 158, 252, 1);
}

.button:not(b):hover {
    -webkit-box-shadow: 3px 3px 19px -7px rgba(136, 158, 252, 1);
    -moz-box-shadow: 3px 3px 19px -7px rgba(136, 158, 252, 1);
    box-shadow: 3px 3px 19px -7px rgba(136, 158, 252, 1);
}

.costs-button.pause .play-icon {
    display: none;
}

.costs-button.play .pause-icon {
    display: none;
}


.costs-button-icon svg path {
    fill: #fff;
    stroke: #fff;
}

.costs-button-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.costs-button {
    width: 30%;
    cursor: pointer;
}

.costs-button-hour:after, .costs-button-minutes:after {
    content: ':';
}

.section-costs-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.costs-sum {
    margin-left: 2rem;
    margin-bottom: 0;
}

.element-center {
    display: flex;
    margin: 0 auto;
}

.button__create {
    width: 100%;
    max-width: 30rem;
    margin-bottom: 2rem;
}

.create-form .form-buttons {
    margin-top: 2rem;
}

.create-form {
    width: 100%;
    max-width: 50rem;
    margin: auto;
}

.create-form .selectric .button {
    height: 5rem;
}
.create-form .selectric .label {
    height: 5rem;
    line-height: 5rem;
    font-family: Montserrat;
    font-size: 1.6rem;
    color: #202554;
}
.create-form .selectric {
    height: 5rem;
    border-radius: 5rem;
    border: 1px solid #E2E6F8;
    background: #FBFCFF;
    font-family: Montserrat;
    font-size: 1.6rem;
    color: #202554;
}

.create-form input::placeholder{
    font-family: Montserrat;
    font-size: 1.6rem;
    color: #202554;
}

.row {
    display: flex;
    justify-content: space-between;
}

.project-tags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.editor-field {
    height: 20rem;
}

@media (min-width: 1200px) {

    .container {
        width: 1170px;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 9px;
    }

    .project-item-title {
        font-size: 1.6rem;
    }
}

@media (max-width: 500px) {
    .projects-head__item:nth-child(3), .project-item-date {
        display: none;
    }

    .project-item-title, .projects-head__item {
        width: 60%;
    }

    .project-item-performers, .projects-head__item:nth-child(2) {
        width: 40%;
    }

    .section-comments-form, .section-project-wrap, .section-container, .section-comments-content {
        padding: 2rem 1rem;
    }
}