
.dialog-window {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  width: 38rem;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0) scale(0);
  border-radius: 2rem;
  background-color: rgb(232 242 255);
  opacity: 0;
  transition: 0.1s ease;
  pointer-events: none;
  z-index: 9999;
  -webkit-box-shadow: 3px 3px 22px -9px rgba(136,158,252,1);
  -moz-box-shadow: 3px 3px 22px -9px rgba(136,158,252,1);
  box-shadow: 3px 3px 22px -9px rgba(136,158,252,1);
  .close-window {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: 0;
  }
}

.dialog-window.active {
  transform: translate(-50%, 0)  scale(1);
  opacity: 1;
}

